.days-of-week {
  padding: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.icon-day {
  width: 32px;
  height: 32px;
  background-image: url(./../../assets/image/cold.svg);
  background-size: cover;
}

.temperature {
  display: flex;
}
